{% extends 'todoList.twig' %}
{% block css %}
    <link href="{{ base_url() }}/static/css/homeStyle.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {#<div class="background"></div>#}
    {% if message %}
        {{ message }}
    {% endif %}
    <div class="allForms">
        <div class="formGroup">
            <h1>Login Form</h1>
            <form id="loginForm" class="loginForm authForm" method="post" action="{{ path_for('login') }}">
                <label for="loginUserId">User Id</label>
                <input name="loginUserId" id="loginUserId" type="text">
                <label for="loginPassword">Password</label>
                <input name="loginPassword" id="loginPassword" type="password">
                <input type="submit" value="Login">
                    {{ csrf.field | raw }}
            </form>
        </div>

        <div class="formGroup">
            <h1>Signup Form</h1>
            <form id="signupForm" class="signupForm authForm" method="post" action="{{ path_for('signup') }}">
                <label for="signupUserId">User Id</label>
                <input name="signupUserId" id="signupUserId" type="text">
                <label for="signupPassword">Password</label>
                <input name="signupPassword" id="signupPassword" type="password">
                <input type="submit" value="Sign Up">
                    {{ csrf.field | raw }}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}