{% extends 'app.twig' %}
{% block content %}
    {{ data['username'] }}
    <br>
    {{ data['password'] }}
<br>
    <a href="{{ path_for("getTodoList") }}">Your Todo list</a>
    <a href="{{ path_for("addTodo") }}">Your Todo list</a>
     <a href="{{ path_for("logout") }}">Logout</a>
{% endblock %}
