{% extends 'app.twig' %}
{% block css %}
    <link href="{{ base_url() }}/static/css/todoListStyle.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div id="errorMessage" class="row flex-row justify-content-center mt-2">

        </div>
        <div class="row">
            <form id="addTodo" class="col-12 card">
                <div class="form-group">
                    <label for="todoTitle">Title: </label>
                    <input name="todoTitle" class="form-control" id="todoTitle" type="text">
                </div>
                <div class="form-group">
                    <label for="todoContent">Content: </label>
                    <textarea name="todoContent" class="form-control" rows="3" id="todoContent"></textarea>

                </div>

                <input type="submit" class="btn btn-primary" value="Add Todos">
            </form>
        </div>
        <div id="todos" class="row"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/static/js/jquery.loadTemplate.js"></script>
    <script type="text/html" id="todoTemplate">
        <div data-id="id" class="col-lg-4 col-md-4 col-sm-6">
            <div class="card p-2 m-1">
                <div class="card-body">
                    <h5 class="card-title" data-content="title"></h5>
                    <p class="card-text" data-content="content"></p>
                    <p class="card-text"><em>created at: <span data-content="date"></span></em></p>
                    <button class="btn btn-primary deleteTodo" data-value="id">Delete</button>
                    {#                    <button class="btn btn-primary editTodo" data-value="id">Edit</button>#}
                </div>
            </div>

        </div>
    </script>
    <script type="text/html" id="errorTemplate">
        <div data-class="alertType" class="alert alert-dismissible fade show mr-1" role="alert">
            <span data-content="message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </script>
    <script>
        $("#addTodo").on('submit', function (e) {
            e.preventDefault();
            console.log(verifyInputData(e.target.todoTitle.value)&&verifyInputData(e.target.todoContent.value), e.target.todoContent.value);
            if (verifyInputData(e.target.todoTitle.value)&&verifyInputData(e.target.todoContent.value)){
                let data = {
                    todoTitle: e.target.todoTitle.value,
                    todoContent: e.target.todoContent.value
                }

                $.ajax({
                    url: "{{ path_for('addTodo') }}",
                    data,
                    type: "POST",
                    success: function (result) {
                        handleUserFeedbackMessage('success', 'Added new todo');
                        e.target.todoTitle.value = '';
                        e.target.todoContent.value = '';
                        loadDataToDOM(result);
                    },
                    error: function (err) {
                        handleUserFeedbackMessage('error', 'Unable to add todo, Please try later');
                    }
                });
            }else{
                loadFeedbackToDOM('please add some content to the todo', 'alert-warning');
            }
        });

        $("#todos").on('click', "button.deleteTodo", (e) => {
            // console.log(e.target.value)
            $.ajax({
                url: "{{ path_for('deleteTodo') }}",
                data: {
                    id: e.target.value
                },
                type: "POST",
                success: function (result) {
                    handleUserFeedbackMessage('success', 'Deleted your todo');
                    $("#" + e.target.value).remove();
                },
                error: function (err) {
                    handleUserFeedbackMessage('error', 'Unable to delete your todos, Please try later');
                }
            });
        });

        function loadDataToDOM(result) {
            for (res in result) {
                let data = result[res];
                $('#todos').loadTemplate($("#todoTemplate"), {
                    id: data['Todoindex'],
                    title: data['Title'],
                    content: data['Content'],
                    date: data['Dateofcreation']
                }, {prepend: true})
            }
        }

        $(document).ready(function () {
            $.ajax({
                url: "{{ path_for('getTodoJson') }}",
                success: function (result) {
                    loadDataToDOM(result);
                },
                error: function (err) {
                    handleUserFeedbackMessage('error', 'Unable to get your todo data, Please try later');
                }
            });
        });

        function loadFeedbackToDOM(message, alertType) {
            $('#errorMessage').loadTemplate($("#errorTemplate"), {message, alertType}, {prepend: true});
        }

        const handleUserFeedbackMessage = (type, message = '') => {
            switch (type) {
                case 'warning':
                    type = 'alert-warning';
                    break;
                case 'error':
                    type = 'alert-danger';
                    break;
                case 'success':
                    type = 'alert-success';
                    break;
                default:
                    type = 'alert-warning';
                    break;
            }
            loadFeedbackToDOM(message, type);
        }

        const verifyInputData = (str='')=>{
            return str != null && str && str.trim() !== '';
        }


    </script>
{% endblock %}
